@model List<HotelWebUI.Dtos.RoomTypeDtos.RoomTypeViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Oda Tipleri</h2>
        <a href="/RoomType/CreateRoomType/" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> Yeni Oda Tipi Ekle
        </a>
    </div>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm h-100">
                    <img src="@item.ExistingImageUrl" class="card-img-top" alt="Oda Görseli" style="height: 220px; object-fit: cover;" />

                    <div class="card-body">
                        <h5 class="card-title">Kapasite: @item.Capacity </h5>
                        <p class="card-text">- @item.Description</p>
                        <p class="card-text text-muted">₺ @item.PricePerNight / Gece</p>
                        <p class="card-text"><small class="text-success">Mevcut Oda Sayısı: @item.AvailableRoomCount</small></p>

                        <a href="@Url.Action("UpdateRoomType", "RoomType", new { id = item.RoomTypeId })" class="btn btn-outline-success w-100 mb-2">
                            Güncelle
                        </a>

                        <button onclick="confirmDelete(@item.RoomTypeId)" class="btn btn-outline-danger w-100">
                            Sil
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function confirmDelete(roomTypeId) {
        Swal.fire({
            title: 'Emin misiniz?',
            text: "Bu oda tipi silinecek!", 
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#6c757d',
            confirmButtonText: 'Evet, sil!',
            cancelButtonText: 'İptal'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/RoomType/Delete/' + roomTypeId;
            }
        })
    }
</script>