@model HotelWebUI.Dtos.CommanDtos.ContactSocialMediDto

@if (Model?.ContactValues?.Any() == true && Model?.SocialValues?.Any() == true)
{
    var contact = Model.ContactValues.First();
    var social = Model.SocialValues.First();
   

    <footer class="footer-section">
        <div class="container " >
            <div class="footer-text">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="ft-about">
                            <div class="logo">
                                <a href="#">
                                    <img src="~/sona-master/img/footer-logo.png" alt="">
                                </a>
                            </div>
                            <p>Sosyal medya hesaplarımızdan takip edebilirsiniz.</p>
                            <div class="fa-social">
                                <a href="@social.Facebook"><i class="fa fa-facebook"></i></a>
                                <a href="@social.Twitter"><i class="fa fa-twitter"></i></a>
                                <a href="@social.Instagram"><i class="fa fa-instagram"></i></a>
                                <a href="@social.Facebook"><i class="fa fa-tripadvisor"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-contact">
                            <h6>İletişim</h6>
                            <ul>
                                <li>@contact.ContactNumber</li>
                                <li>@contact.ContactEmail</li>
                                <li>@contact.ContactAdress</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-newslatter">
                            <h6>Abone olun</h6>
                            <p>Güncel bilgi ve fırsatlardan yararlanmak için abone olun.</p>
                            <form action="#" class="fn-form">
                                <input type="text" placeholder="Email">
                                <button type="reset"><i class="fa fa-send"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <ul>
                            <li><a href="#">Ana Sayfa</a></li>
                            <li><a href="#">Hakkımızda</a></li>
                            <li><a href="#">İtelişim</a></li>
                            <li><a href="#">Galeri</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                         <br />
                         <br />
                    </div>
                </div>
            </div>
   
        </div>
    </footer>
}