@model HotelWebUI.Dtos.ReservationDtos.ReservationSummaryDto

@{
    ViewData["Title"] = "ReservationSummary";
    Layout = "~/Views/UserLayout/Index.cshtml";
}

<div class="container mt-4">

    <h2>Rezervasyon Özeti</h2>

    <p>@Model.FullName</p>
    <p>@Model.Email</p>
    <p>@Model.Phone</p>
    <p>@Model.RoomTypeName</p>
    <p>Giriş: @Model.CheckInDate.ToShortDateString()</p>
    <p>Çıkış: @Model.CheckOutDate.ToShortDateString()</p>
    <p>Kişi Sayısı: @Model.TotalPeople</p>
    <p>Toplam Tutar: @Model.TotalPrice ₺</p>

    @if (ViewBag.Error != null)
    {
        <div style="color:red">@ViewBag.Error</div>
    }
    <div asp-validation-summary="All"></div>

    <form asp-action="CompleteReservation" method="post">
        <input type="hidden" name="ReservationDataJson" value='@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))' />
        <button type="submit">Rezervasyonu Tamamla</button>
    </form>
</div>
<br />
<br />
<br />
<br />
<br />
