@model List<HotelWebUI.Dtos.HotelServDtos.ResultHotelServDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="container mt-5"> 
        
        <h3 class="mb-4  d-inline"><i class="fas fa-concierge-bell me-2"></i>Otel Hizmetleri</h3>
    

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card shadow-sm border-0 h-100 rounded-4">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <div class="d-flex align-items-center mb-3">
                            @Html.Raw(item.ActivityIcon) &nbsp &nbsp
                            <h5 class="card-title mb-0">@item.ActivityTitle</h5>
                        </div>
                        <p class="card-text text-muted">@item.ActivityDescription</p>

                        <div class="mt-auto d-flex justify-content-between">
                            <a asp-controller="HotelServ" asp-action="UpdateHotelServ" asp-route-id="@item.Id" class="btn btn-sm btn-outline-success">
                                <i class="fas fa-edit me-1"></i> Güncelle
                            </a>
                            <a asp-controller="HotelServ" asp-action="DeleteHotelServ" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger" onclick="return confirm('Bu hizmeti silmek istediğinize emin misiniz?');">
                                <i class="fas fa-trash-alt me-1"></i> Sil
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <br />
    <br />
    <br />
        <a href="/HotelServ/CreateHotelServ/" class=" btn btn-outline-success float-end d-inline"><i class="fa-sharp fa-solid fa-plus"></i>Yeni Servis Ekle</a>
</div>
