@model HotelWebUI.Dtos.ContactDtos.ResultContactDto 
@{
    ViewData["Title"] = "UserContact";
    Layout = "~/Views/UserLayout/Index.cshtml";
}
<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="contact-text">
                    <h2>İletişim Bilgileri</h2>
                    <p>
                        @Model.ContactDescription
                    </p>
                    <table>
                        <tbody>
                            <tr>
                                <td class="c-o">Adres:</td>
                                <td>@Model.ContactAdress</td>
                            </tr>
                            <tr>
                                <td class="c-o">Telefon:</td>
                                <td>@Model.ContactNumber</td>
                            </tr>
                            <tr>
                                <td class="c-o">E-mail:</td>
                                <td>@Model.ContactEmail</td>
                            </tr>
                            <tr>
                                <td class="c-o">Fax:</td>
                                <td>+(12) 345 67890</td>
                                <td hidden>fax alanı ekle</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-7 offset-lg-1">
                <form action="#" class="contact-form">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" placeholder="Your Name">
                        </div>
                        <div class="col-lg-6">
                            <input type="text" placeholder="Your Email">
                        </div>
                        <div class="col-lg-12">
                            <textarea placeholder="Your Message"></textarea>
                            <button type="submit">Submit Now</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="map">
            @Html.Raw(Model.ContactMap)
        </div>
    </div>
</section>